[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
sklearn = "*"
ipython = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
keras = "*"

[requires]
python_version = "3.7.2"
