[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = ">=5.7.8"
Jinja2 = ">=2.10.1"

[packages]
sklearn = "*"
ipython = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
keras = "*"
tensorflow = "*"
opencv-python = "*"
pillow = "*"
gym = "*"

[requires]
python_version = "3.7.3"
